*{
    padding: 0px;
    margin: 0px;

}


.titulo-navbar{
    color: #111;
}

.navbar{
    height:100px ;
    text-transform: uppercase;
    background-color:grey;
    font-size: 18px;
}

.titulo-navbar span{
    color: #111;
}

.img-navbar{
    height: 60px;
}

.nav-item{
    color: #fff;
    font-size: 20px;    
}

.slogan h1{
    text-transform: uppercase;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-inner{
    height: 500px;
}

@media only screen and (min-width: 0px) and (max-width:576px){
    .collapsibleNavbar{
        background-color: grey;
    }
}