*{
    padding: 0px;
    margin: 0px;

}

.titulo-navbar{
    color: #111;
}

.navbar{
    height:100px ;
    text-transform: uppercase;
    background-color:grey;
    font-size: 18px;
}

.img-navbar{
    height: 60px;
}

.nav-item{
    color: #fff;
    font-size: 20px;    
}

h1

.carousel-inner{
    height: 500px;
}

@media only screen and (min-width: 0px) and (max-width:576px){
    .collapsibleNavbar{
        background-color: grey;
    }
}