@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Koulen&family=Luckiest+Guy&family=Oswald:wght@500;700&family=Rubik+Mono+One&family=Russo+One&family=Staatliches&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

header{
    .titulo-navbar{
        color: #111 ;
        font-family: 'Staatliches', cursive;
        font-size: 30px;
    }
    
    .navbar{
        height:100px ;
        text-transform: uppercase;
        background-color:grey !important;
        font-size: 18px;
        
    }
    
    .shop{
        color: #000000;
    }
    
    .img-navbar{
        height: 60px;
    }
    
    .nav-item{
        color: #fff;
        font-size: 20px;    
    }

    .btn{
        color: white;
        border: 2px solid #111;
        background-color: #111;
    }
}

h1{
    text-align: center;
    margin-top: 10px;
    padding-left: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    height: 50px;

}


.card1{
    height: 410px;
    margin-left: 20px;
    border: 2px solid #111;
    margin-bottom: 20px;
}

.nombre-cam{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.card1 p{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    background-color: grey;
}

.card2{
    height: 410px;
    margin-left: 0px;
    border: 2px solid #111;
    margin-bottom: 20px;

}

.nombre-cam{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.card2 p{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    background-color: grey;
}

.card3{
    height: 410px;
    margin-right: 20px;
    border: 2px solid #111;
    margin-bottom: 20px;

}

.nombre-cam{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.card3 p{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    background-color: grey;
}    

.button-buy{
    border:none;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



